  .mainnav {
    background: rgb(27, 27, 27);
    border-bottom: 3.7px solid rgb(17, 17, 17);
    border-radius: 3px;
  }
  
  .navbar_container {
    background: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    padding-left: 3px;
    width: 100%;
  }

  .navbar_logo {
    position: relative;
    width: fit-content;
    cursor: pointer;
    margin-right: 10px;
  }

  .navbar_image {
    position: relative;
    height: 71px;
    width: 71px;
  }

  .logodiv {
    display: none;
  }

  .logodiv_a {
    position: absolute;
    left: 5px;
    bottom: -2.7px;
    width: 59px;
    transition: all 0.3s ease-out;
    border-bottom: 3.1px solid rgb(255, 255, 255);
  }

  .fa_typo3 {
    top: 3px;
    margin-top: 3px;
    font-size: 17px;
    margin-right: 1px;
    position: relative;
  } 

  .fa_typo4 {
    margin-right: 1.5px;
    margin-bottom: 1.5px;
    font-size: 20px;
    cursor: pointer;
    color: "white"
  } 

  .nav_menu {
    margin: 15px;
    list-style: none;
  }
  
  .nav_item {
    cursor: pointer;
    height: 40px;
  }

  .li {
    list-style-type:none;
  }
  
  .nav_links {
    color: #8a8a8a;
    display: flex;
    align-items: center;
    padding-right: 7px;
    font-size: 17px;
    height: 139%;
  }

  .nav_links_a {
    color: #ffffff;
    border-bottom: 3.1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-right: 7px;
    font-size: 17px;
    transition: all 0.3s ease-out;
    height: 145%;
  }

  .nav_links:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.1px rgb(255, 255, 255);
  }

  .mnav_menu {
    display: none;
  }

  .mnav_menu_active {
    display: none;
  }

  .hamb {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    .nav_links {
      padding-right: 2px;
      font-size: 15px;
    }
  
    .nav_links_a {
      padding-right: 2px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 700px) {

    .navbar_image {
      height: 55px;
      width: 55px;
    }
  
    .nav_menu {
      display: none;
    }

    .navbar_container {
      padding-bottom: 5px;
    }

    .navbar_logo {
      padding-top: 3px;
      margin-left: 12px;
    }

    .logodiv_a {
      display: none;
    }
  
    .mnav_menu {
      height: 100vh;
      width: 0;
      position: fixed;
      top: 60.5px;
      right: 0;
      z-index: 800;
      background-color: rgba(10, 10, 10, 0.883);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: end;
      transition: width 0.2s ease;
    }

    .mnav_menu_active {
      width: 100%;
    }
    
    .mnav_menu ul {
      position: relative;
      white-space: nowrap;
      width: 65vw;
      height: 100%;
      z-index: 900;
      background-color: rgb(20, 20, 20);
      overflow-y: auto;
      list-style-type: none;
    }
  
    .mnav_links {
      position: relative;
      display: flex;
      cursor: pointer;
      color: #8a8a8a;
      padding: 25px 0px 25px 12px;
      font-size: 21px;
      text-decoration: none;
      border-bottom: 1.5px solid grey;
    }
  
    .mnav_links_a {
      position: relative;
      display: flex;
      cursor: pointer;
      color: aliceblue;
      padding: 25px 0px 25px 12px;
      font-size: 21px;
      text-decoration: none;
      border-bottom: 2px solid whitesmoke;
    }
  
    .nav_links:hover {
      border-radius: 0;
      border-bottom: none;
    }
  
    .hamb {
      display:flex;
      top: 15.7px;
      font-size: 30px;
      right: 21px;
      position: absolute;
      cursor: pointer;
      border: 1px solid rgb(73, 73, 73);
      border-radius: 3px;
    }
  
    .mfa_typo4 {
      position: relative;
      bottom: 1px;
      margin-right: 7px;
      font-size: 25px;
      cursor: pointer;
      color: "white"
    }

    .scrollblock {
      overflow: hidden;
    }
  
  }


