.main {
    max-width: 777px;
}

.slider {
    max-width: 700px;
    margin-left: 50px;
}

.label {
    text-align: center;
    color: rgb(239, 237, 237);
    font-weight: bold;
}

@media screen and (max-width: 550px) { 
    .main {
        max-width: 777px;
    }
    
    .slider {
        max-width: 700px;
        margin-inline: 17px;
    }
}